@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Courier, monospace;
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    padding: 30px 52px;
}

.header-right {
    display: flex;
    gap: 32px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 30px 52px;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-weight: extra-bold;
    font-size: 36px;
    color: #1F2937;
}

.information-images {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.image-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.quote {
    background-color: #E5E7EB;
}

button {
    width: fit-content;
    height: fit-content;
}

.hero > img {
    height: 300px;
    object-fit: contain;
}

.image-and-text > img {
    width: 100px;
    object-fit: contain;
    border-radius: 25px;
    border: 2px solid #3882F6;
}