@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Courier, monospace;
    flex: 1 1 auto;
    justify-content: center;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .hero {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 24px;
}

.header-right {
    display: flex;
    gap: 32px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding-top: 72px;
    padding-bottom: 72px;
    justify-content: space-between;
    gap: 32px;
    flex-shrink: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    gap: 8px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: center;
    padding-bottom: 60px;
}

.information-header {
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.information-images {
    display: flex;
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;
}

.image-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    font-style: italic;
}

.quote-sayer {
    align-self: flex-end;
    font-weight: normal;
    font-style: normal;
}

button {
    width: 100px;
    height: 25px;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    color: white;
}

.hero > img {
    height: 300px;
    object-fit: contain;
}

.image-and-text > img {
    width: 200px;
    object-fit: contain;
    border-radius: 25px;
    border: 2px solid #3882F6;
}

.image-and-text > div {
    width: 200px;
}

.call-to-action {
    background-color: #3882F6;
    margin: 100px;
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.call-to-action > button {
    border: 2px solid white;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.call-to-action-header {
    font-weight: bold;
    font-size: 24px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px;
}