body {
    display: flex;
    flex-direction: column;
    font-family:'Roboto', Courier, monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.header-right {
    display: flex;
    gap: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}